// Place all the styles related to the sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
    font-size: 36px;
}

.square {
    position: relative;
    padding-top: 100%;
    text-align: center;
    font-size: 48px;

    span {
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 100%;
    }
}
